/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


[data-theme="light"]{
    --primario: #1E1C1C;
    --secundario: #F3E9D9;
    --terciario: #f7d095;
    --imagenfondo:  url(../fotos/fondo_tarot_claro.png);
    --colorfondo: #F3E9D9;
}


[data-theme="dark"]{
    --primario: #F3E9D9;
    --secundario: #1E1C1C;
    --terciario: none;
    --imagenfondo:  url(../fotos/fondo_tarot_oscuro.png);
    --colorfondo: #1E1C1C;
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

/*Body*/
body{
    background-image: var(--imagenfondo);
}

/*Header*/
.site-heading{
    color: var(--primario);
    font-family: 'Roboto Slab', serif;
}

/*Nav*/
#mainNav{
    background-color: var(--primario);
    color: var(--secundario);
}


#mainNav .navbar-brand{
    color: var(--secundario);
}

#mainNav .navbar-nav .nav-item .nav-link{
    color: var(--secundario);
}

#mainNav .navbar-nav:hover .nav-item:hover .nav-link:hover{
    color: #e6a756;
}

#botonTema{
    padding-left: 8px;
    padding-top: 6px;
    padding-right: 8px;
    padding-bottom: 8px;

    color:var(--secundario);
}

#botonHamburguesa{
    color: var(--secundario);
}

/*Contenido de pagina*/
.bg-faded, .footer{
    background-color: var(--primario);
    color: var(--secundario);
}

.cta{
    color:var(--primario);
    background-color:var(--terciario)
}

/*Contacto*/
#botonContacto{
    color: #1E1C1C;
    background-color: #f7d095;
}

#botonContacto:hover{
    background-color: #e6a756;
}

#iconoWpp, #iconoEmail{
    color: var(--secundario);
}

#iconoWpp:hover, #iconoEmail:hover{
    color:  #e6a756;
}

.heading-contacto{
    font-family: 'Roboto Slab', serif;
}

@media (min-width: 992px) {
    #headingLowerInicio{
        font-size: 2rem;
        margin-top: 2.5%;
    }

    #fotoPersona{
        max-height: 65vh;
        max-width: 50vw;
    }

    #fotoInicio{
        max-height: 85vh;
        max-width: 50vw;
    }

    #fotoConsulta{
        width: 50vw;
        height: 70vh;
    }
    
    #fotoCurso{
        width: 55vw;
        height: 80vh;
    }
    
    #spanContacto{
        margin-top:2.5%;
    }
    

}

@media (max-width: 992px){
    body{
        background-image: none;
        background-color: var(--colorfondo);
    }

    #fotoConsulta{
        height: 60vh;
        width: 100vw;
    }
    
    .headingSv{
        width: 100vw;
    }

    .section-heading-lower{
        font-size: 1.5rem !important;
    }

    #fotoCurso{
        height: 60vh;
        width: 100vw;
    }

    #spanContacto{
        font-size:2rem;
        margin-top:5%;
    }

    
}

